*{
    margin:0;
    padding:0;
}
.gradient-background {
    background: linear-gradient(300deg, #E6B9A6, #EEEDEB, wheat);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
a{
    color: black;
    text-decoration: none;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem;
    font-family: 'Sacramento', cursive;
    color: black;
    margin: 0;
    padding: 13rem 8rem 0 8rem;
}
.content p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    padding: 3rem 3rem 5rem 3rem;
    letter-spacing: 0.2rem;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#E6B9A6;
    position:fixed;
    top:0;
    width:100%;
    
    
  }


li{
    float:left;
    list-style-type: none;
}
    /*我将display:block移回去li a是因为我发现了
    如果把display：block留在li这里，点击的时候只是content会变色，
    但是如果移回去li a 的话，是整一个都会变色*/
  

li a{
    display:block;
     color:white;
    /*text-align:center;*/
    padding:1rem 2rem;
    display:block;
    padding:1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;;
    font-weight: bold;
    text-decoration: none;
  } 
 

  li a:hover{
    background-color:#E6B9A6;
    color:white;
    font-size: 1.1rem;
    
  }

 @media(max-width:800px){
    ul {float:none;
    }
 }
body{
    margin:0;
}

.content{
    background-image:url(./p1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#item2{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}   

.about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 5rem ;
    padding-bottom: 5rem;
    background-color: #E6B9A6;
}
#about-pic img{
    width:300px;
    
}
#about-pic{
    grid-row:span 2;
}
#about-head{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    color:#2F3645
}
#about-body{
    font-size: 1rem;
    padding-left: 10rem;
    width: 500px;
    text-align: justify;
}
.skills{
    display: grid;
    padding-top: 5rem ;
    padding-bottom: 5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:3rem;
    padding: 5rem;
}
h2{
    font-size: 5rem;
    margin-bottom: 5px;
}
h3{
    font-size: 2rem;
    
    margin-bottom: 10px;
}
/* .skills{
    background-image: url(./assets/p2.jpeg);
    background-size: cover;
    height: 100vh;
    width:100%;
    color:white;
} */
#sTitle{
    grid-area: 1/1/3/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#2F3645;
}
.logo{
    height: 100px;
    width:100px;
    
}

#s4 img{
    width:200px
}
#mySkills h3{
    color:#2F3645;
    
    
}
#myProjects{
    padding: 5rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:3rem;
    
}
.project-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-items h3{
    color:#2F3645;
    text-decoration: underline;
}

#project-title{
    text-align: center;
    color:#2F3645;
    padding-bottom: 2rem;
}
.project-items img{
    width: 300px;
    height: 180px;
    margin:10px;
    border:10px solid white ;
}
.project-items p{
    width:350px
}
footer{
    background-color: #E6B9A6;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border:10px solid white;
}
.footer-items a img{
    height: 50px;
}
.footer-items{
    display: inline-block;
    
}
#footer-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
}
#footer-title{
    text-align: center;
    padding-bottom: 2rem;
    color:#2F3645;
}
#copyright{
    text-align: center;
}
@media(max-width:1200px){
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #myProjects{
        padding: 3rem;
    }
    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .about{
        display: flex;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        align-items: center;
    }
    .about p{
        padding: 0;
        width: 300px;
        padding-left: 30px;
    }
    #about-pic img{
        width:250px;
    }
    h2{
        font-size: 3rem;
    }
    
    h1{
        font-size: 5rem;;
    }
    body{
        padding-left: 0;
        padding-right: 0;
    }
    ul{
        float:none;
    }

}
